$font-main: 'Nunito', sans-serif;
$font-second: 'Josefin Sans', sans-serif;

$linear-gradient: linear-gradient(360deg, #ffd47e 0%, #a7feff 100%);

$color-beige: #ffd47e;
$color-beige-light: #fff0d1;
$color-beige-dark:#b7995e;
$color-blue: #a7feff;
$color-blue-light: #d7fafa;
$color-navy: #004445;
$color-main-background: #f9f9f9;

$icon-shadow: 0 1rem 1rem rgba(black, .2);

$big-screen: 75em; //1200px/16px;
$medium-screen: 62.5em;  //1000px
$small-screen: 48em; //768px
$mobile-screen: 26em;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  //10/16px
    @media only screen and (max-width: $big-screen) {
        font-size: 50%;
    }
}

body {
    background-color: #fafafa;
    font-family: $font-main;
    color: $color-navy;
    font-weight: 300;
    line-height: 1.6;
  
}

.container {
    display: grid;
    grid-template-rows: minmax(min-content, 30vh) min-content max-content repeat(3, min-content);
    grid-template-columns: [sidebar]30rem[sidebar-end start] minmax(6rem, 1fr) [main]repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [main-end] minmax(6rem, 1fr)[end] ;

    @media only screen and (max-width: $medium-screen) {
        grid-template-rows: 7rem minmax(min-content, 30vh) min-content max-content repeat(3, min-content);
        grid-template-columns: [start] minmax(6rem, 1fr) [main]repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [main-end] minmax(6rem, 1fr)[end] ;
    }
   
}
