.button {
    font-family: inherit;
    border: none;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    background-color: lighten($color: $color-navy, $amount: 4);
    border-radius: 100px;
    text-align: center;
}