.portfolio {
    background-color: $color-main-background;
    grid-column: main/main-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: min-content 1fr 1fr;
    grid-column-gap: 2rem;
   
    justify-items: center;
    &__heading {
        grid-column: 1/-1;
        padding: 3rem 0 0 0;
        color: $color-navy;
        border-bottom: 1px solid $color-navy;
    }
}
.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-items: center;
    @media only screen and (max-width: $big-screen) {
        &__link-icon {
            width: 5rem !important;
            height: 5rem !important;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        grid-column: 1/-1;
        box-shadow: 0 10px 7px -7px rgba(#777, .5);
    }
    &__link, {
        margin-top: 1rem;
        &-icon {
            width: 4rem;
            height: 4rem;
            fill: $color-navy;
            margin-top: 1rem;
            box-shadow: $icon-shadow;
            transition: all .2s;
            &--git {
                border-radius: 50%;
            }
            &:hover {
                @include icon-hover;
            }
        }
       
    }

}