.sidebar {
    background-image: linear-gradient(to bottom, rgba($color-blue, .8), rgba($color-beige, .8)),
                        url(../img/leafe-2.jpg);
  
    background-size: cover;
    background-position: top;     
    // box-shadow: 2rem 2rem 10rem rgba(black, .2);    
     box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 10px 20px rgba(black, .4);           
    grid-column: sidebar/sidebar-end;
    grid-row: 1/-1;
    color: lighten($color: $color-navy, $amount: 5);

    @media only screen and (max-width: $medium-screen) {
       
        grid-column: 1/-1;
        grid-row: 1/2;
        box-shadow: none;
        display: flex; 
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        align-items: center;
        align-content: center;
        background-image: linear-gradient(to right, rgba($color-blue, .8), rgba($color-blue, .8)),
        url(../img/palm-sea.jpg);
        &>* {
            margin: 1rem !important;
        }
        &__photo {
            display: none;
        }
        &__mail-icon{
            
        }
        &__icon {
            display: block;
            width: 5rem !important;
            height: 5rem !important;
            box-shadow: none !important;
        
        
        }
        &__mail-address,
        &__phone-number {
            font-size: 1.8rem !important;
            font-weight: 400;
            
          
         }
      
    }
    @media only screen and (max-width: $small-screen) {
        justify-content: flex-start;
        &__mail-icon, 
        &__mail-address,
        &__phone-icon,
        &__phone-number {
               display: none;
            }
        &__link {
            margin: 2rem;
        }   
    
        }
       
    

    display: grid;
    grid-template-columns:  1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: flex-start;
    // grid-column-gap: 1.5rem;
    grid-row-gap: 3.5rem;
    z-index: 10;

    &__photo {
        width: 24rem;
        height: 24rem;
        filter: grayscale(100%);
        border-radius: 50%;
        box-shadow: 0 1rem 2rem rgba(black, .35);
        grid-column: 1/-1;
        margin: 3rem 0;
        
    }
    &__mail-icon,
    &__phone-icon {
            width: 3rem;
            height: 3rem;
            grid-column: 1/3;
            fill: lighten($color: $color-navy, $amount: 5);
            
            
          
        }
        &__mail-address {
           font-size: 2.2rem;
           font-weight: bold;
         
        }

    
    &__phone-number {
            font-size: 2.2rem;
            font-weight: bold;
            margin-bottom: 6rem;
         }
        


        
    &__link {
        grid-column: 1/3;
    }
    &__icon {
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        box-shadow: $icon-shadow;
        transition: all .2s;
       &-git {
           border-radius: 50%;
        }
        &:hover {
            box-shadow: 0 1rem 1rem rgba(black, .35);
            transform: translateY(-2px);
            
           }
    
    }
}